<!--Child-->

<form> <!--DO-'ngIf hide login until registered-->
    <h3>{{ loginFormTitle }}</h3>
  <div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      placeholder="Enter your username."
    />
  </div>

  <div>
    <label for="password-login">Password:</label>
    <input
      type="password"
      id="password-login"
      name="password"
      autocomplete="current-password"
      placeholder="Enter your password."
      required
    />
  </div>
  <button type="button" (click)="onLoginClicked()">Login</button>
</form>
