<router-outlet></router-outlet>
<div id="wrapper">
<h1>Hell-0, let's try Register/Login, using Angular.</h1><br>

<app-register-form [registerFormTitle]="'Register from here'"
(registerAttempt)="onRegisterAttempted($event)"></app-register-form>

<app-login-form [loginFormTitle]="'Login from here'"
(loginAttempt)="onLoginAttempted($event)"></app-login-form>
</div>
<!--Parent-->