
<!--Child-->

<form>
    <h3>{{ registerFormTitle }}</h3>
  <div>
    <label for="username-register">Username:</label>
    <input
      type="text"
      id="username-register"
      name="username"
      autocomplete="username"
      minlength="3"
      maxlength="12"
      placeholder="Input desired username."
    />
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="new-password"
      minlength="4"
      maxlength="42"
      placeholder="Input desired password."
      required
    />
  </div>
  <div>
    <label for="confirm-password">Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirm-password"
      autocomplete="new-password"
      placeholder="Confirm password input."
      required
    />
  </div>
  
  <button type="button" (click)="onRegisterClicked()">Register</button>
</form>
