/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Mono&display=swap");

body {
  font-variant: small-caps;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace, "Open Sans Condensed", sans-serif;
  background: #105668e8;
  color: #f6e088ca;
  font-size: 1.8vw;
  border: 0.4rem double goldenrod;
  border-radius: 2em / 2em;
}
* {
  box-sizing: border-box;
}

h1 {
  color: goldenrod;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.4rem double goldenrod;
  border-radius: 2em / 2em;
}

::placeholder {
  color: #f6e088ca;
  font-variant: all-petite-caps;
}

input {
  font: inherit;
  font-size: 0.9rem;
  border-width: 1px;
  color: #f6e088ca;
  background: transparent;
  text-align: center;
}

.checkbox:checked {
  background-color: goldenrod;
}

button {
  font-variant: small-caps;
  font-size: 1.2em;
  background: transparent;
  color: #f6e088ca;
  border-radius: 50%;
  border: 0.1em ridge goldenrod;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: none;
  cursor: cell;
}
